*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    overflow: hidden;
    position: relative;
}

.site-background-img{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-window{
    height: 80%;
    width: 80%;
    overflow: hidden;
    /* padding: 20px; */
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.678);
    box-shadow: 0 0 4px rgb(95, 95, 95);
}

.title-box{
    padding: 10px 0;
    border-bottom: 1px solid rgb(95, 95, 95);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box{
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo-box img{
    display: block;
    width: 100%;
}